body{
    margin: 0;
    overflow-x: hidden;
}

.box{
    background: rgba(255, 255, 255, 0.2); /* transparan */
     backdrop-filter: blur(15px);          /* blur utama */
    -webkit-backdrop-filter: blur(15px);  /* support browser */

    padding: 30px;
    width: 500px;
    border-radius: 15px;

    color: #000;
    text-align: center;

    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
    position: relative;
    z-index: 2;

}

.hero{
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero-atas::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('../assets/img/bgindexatas.jpg');
    background-size: cover;
    background-position: center;

    filter: blur(5px);
    transform: scale(1.1); /* biar gak kepotong */
    z-index: 0;
}

.hero-atas::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /* 🔥 ini yang bikin gelap */
    z-index: 1;
}

.hero-atas > * {
    position: relative;
    z-index: 2;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* gelapin dikit */
    top: 0;
    left: 0;
}

#halaman-awal{
    background-image: url('../assets/img/bgawal.webp');
    background-size: cover;
    background-position: center;
}

.custom-btn {
    background: rgba(255, 255, 255, 0.35);
    color: #000;
    backdrop-filter: blur(5px);
    border: none;
}

.custom-btn:hover {
    background-color: #15ff00;
}

.judul h3{
    width: 100%;
    text-align: center;
    margin-top: 140px;
    color: yellow;
}

.judul h1{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: white;
}
